<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }} - {{ site.strapline | escape }}
    </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        {%- include social.html -%}
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      </div>

      <div class="footer-col footer-col-2">
      
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <p>
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </p>
          
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

  </div>

</footer>
