
<script type="text/javascript" defer src="{{ "/assets/js/gallery.js" | relative_url }}" ></script>

{% assign images = include.images | sort: 'order' %}
<aside class="gallery">
  <span id="gallery-left" class="gallery-scroll-button">&lt;</span>
  <span class="gallery-items">
  <ul id="gallery-scroller" class="gallery-scroller">
    {% for image in images %}
      <li class="gallery-item">
          <img class="gallery-image" src="{{ include.image-root | relation_url }}thumb-{{ image }}" alt="{{ image }}">
      </li>
    {% endfor %}
  </ul>
</span>
<span id="gallery-right" class="gallery-scroll-button">&gt;</span>
</aside>