.lego-content {
    margin-top: 16px;
}

.parts-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

.parts-header {
    font-weight: bold;
    @include relative-font-size(0.9);
}

.parts-row {
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 4px;


    &:nth-child(2n+1) {
        background-color: $grey-color-light;
    }
}
.parts-image-ctr{
    flex: 0 0 100px;
    text-align: center;
    margin: 4px;
    min-height: 60px;
    background-color: white;

    .parts-header & {
        min-height: 0;
    }
}
.parts-details{
    display: flex;
    flex-direction: row;
    align-content: start;
    flex: 0 0 auto;
    width: calc(100% - 114px);
}
.parts-color{
    padding: 0 4px;
    flex: 0 0 130px;
}
.parts-link,
{
    padding: 0 4px;
    flex: 0 0 100px;
}
.parts-name {
    padding: 0 4px;
    flex: 0 0 auto;
    width: calc(100% - 270px);
}

.parts-quantity {
    padding: 0 4px;
    flex: 0 0 40px;
    text-align: center;
}

.parts-image-credit {
    @include relative-font-size(0.8);
    color: $grey-color;
    width: 100%;
}

@include media-query($on-laptop) {
    
    .parts-details {
        flex-wrap: wrap;
        width: calc(100% - 74px);
    }
        
    .parts-image-ctr{
        flex: 0 0 60px;
    }
    .parts-name {
        width: 100%;

        .parts-header & {
            display: none;
        }
    }
}


.set-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}

.set-header {
    font-weight: bold;
    @include relative-font-size(0.9);
}
.set-row {
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;
    padding: 4px;

    &,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
        color: $text-color;
    }
    
    &:nth-child(2n+1) {
        background-color: $grey-color-light;
    }
}
.set-image-ctr{
    flex: 0 0 100px;
    text-align: center;
    margin: 4px;
    min-height: 60px;
    background-color: white;

    .set-header & {
        min-height: 0;
    }
}
.set-details{
    display: flex;
    flex-direction: row;
    align-content: start;
    flex: 0 0 auto;
    width: calc(100% - 114px);
}
.set-modified{
    padding: 0 4px;
    flex: 0 0 128px;
}
.set-name {
    padding: 0 4px;
    flex: 0 0 auto;
    width: calc(100% - 380px);
    line-height: 28px;
}

.set-completeness {
    padding: 0 4px;
    flex: 0 0 172px;

    &.complete {
        color: green;
    }
    &.nearly {
        color: darkorange;
    }
    &.incomplete {
        color: red;
    }
}


@include media-query($on-laptop) {
    
    .set-details {
        flex-wrap: wrap;
    }
        
    .set-name {
        width: 100%;

        .set-header & {
            display: none;
        }
    }
}


.todo-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
}
.todo-row {
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;

    &:nth-child(2n) {
        background-color: $grey-color-light;
    }
}
.todo-image-ctr{
    flex: 0 0 100px;
    text-align: center;
    margin: 4px;
}
.todo-name {
    padding: 4px;
    flex: 0 0 auto;
    width: calc(100% - 120px);
    line-height: 28px;
}

.facts {
    margin-top: 16px;
}

.fact-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.fact {
    display: flex;
    width: 50%;
    flex-direction: row;
}

.fact-key {
    flex: 0 0 120px;
    font-weight: bold;
    @include relative-font-size(0.9);
}

.fact-value {
    flex:0 0 auto;
}

@include media-query($on-smallscreen) {
    .fact-list {
        width:75%;
    }
}
@include media-query($on-laptop) {
    .fact-list {
        width:100%;
    }
    .fact {
        width:100%;
    }
}

.completeness {
    margin-top: 16px;
}
.completeness-value {    
    font-weight: bold;

    &.complete {
        color: green;
    }
    &.nearly {
        color: darkorange;
    }
    &.incomplete {
        color: red;
    }
    
}
