---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title | escape }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign collections = site.collections | sort: 'sequence' %}
  {% for collection in collections %}

    {% if collection.sequence > 0 %}

    <div class="collection-box">
      {% assign name = collection.label %}
      {% assign posts = site.[name] | reverse %}

      <h2 class="post-list-heading">
        <a class="collection-link" href="/{{ name }}">{{ collection.title | escape }} ></a>
        <span class="collection-size-subheading">Posts: {{ posts | size }}</span>
      </h2>
      
      <ul class="post-list">

        {% for post in posts limit:3 }
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <h3>
              <span class="post-meta">{{ post.date | date: "%-d %b %Y" }}</span>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    {%- endif -%}

  {% endfor %}  
</div>
