---
layout: default
---



<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>  

  {%- if page.images -%}
   {%- include gallery.html images = page.images image-root = page.image-root -%}
  {%- endif -%}
  
  {%- if page.completeness -%}
    {%- if page.completeness == 100 -%}
      {%- assign completeClass="complete" -%}
      {%- assign completeDesc="Complete" -%}
    {%- elsif page.completeness > 70 -%}
      {%- assign completeClass="nearly" -%}
      {%- assign completeDesc="Incomplete - " | append: page.completeness | append: "%" -%}
    {%- else -%}
      {%- assign completeClass="incomplete" -%}
      {%- assign completeDesc="Incomplete - " | append: page.completeness | append: "%" -%}
    {%- endif -%}
    <section class="completeness">
      <header>
        <h3>
          Completeness:
          <span class="completeness-value {{ completeClass }}"> {{completeDesc}} </span>
        </h3>
      </header>
    </section>       
  {%- endif -%}

  {%- if page.facts -%}
  <section class="facts">
    <header>  
      <h3>
        Fact File
      </h3>
    </header>
    <div class="fact-list">
      {%- for fact in page.facts -%}
        <div class="fact">
          <div class="fact-key">{{ fact[0] }} </div>
          <div class="fact-value">
            
            {% assign first4 = fact[1][0] | slice: 0, 4 %}
            {% if first4 == "http" %}
              <a href="{{ fact[1] }}" target="_blank">Click</a>
            {%- else -%}
              {{ fact[1] }}
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </section>
  {%- endif -%}

  <div class="post-content e-content lego-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.missing-parts -%}
  <aside class="parts-table">
    <header>
      <h3>Missing Parts</h3>
    </header>
    <div class="parts-row parts-header">
      <div class="parts-image-ctr"></div>
      <div class="parts-link">Code</div>
      <div class="parts-quantity">Qty</div>
      <div class="parts-color">Color</div>
      <div class="parts-name">Name</div>
    </div>
    {%- for id in page.missing-parts -%}  
    {% assign part = id[1] %}  
    <div class="parts-row">
      <div class="parts-image-ctr"><img class="parts-image" src="{{ part.image }}" alt="part {{ id[0] }}" /></div>
      <div class="parts-link"><a href="{{ part.link }}" target="_top">{{ id[0] }}</a></div>
      <div class="parts-quantity">{{ part.quantity }}</div>
      <div class="parts-color">{{ part.color }}</div>
      <div class="parts-name">{{ part.name }}</div>
    </div>
    {%- endfor -%}
    <p class="parts-image-credit">{{page.missing-parts-image-credit}}</p>
  </aside>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
